{% block content %}
    <h2>Titles without torrents</h2>
    <p>Found {{ titles_without_torrents|length }}</p>

    <br/>
    <p>Total movies: {{ count_movies }}</p>
    <p>Total series: {{ count_series }}</p>

    <br/>
    <p>Total games: {{ count_games }}</p>
    <table border-collapse="collaspse">
    <tbody>
    {% for game in recent_games %}
        <tr>
            <td>{{ game.text }}</td>
            <td>{{ game.earliest_upload_at }} sd</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <br/>

    <h2>Old TV</h2>
    <p>Found {{ old_tv|length }} &mdash; <a href="{% url 'clear_tv_view' %}">del</a></p>

{#    <p>Series older than 3 years: {{ old_series|length }} found!</p>#}
{#    <p>Titles without torrents: {{ titles_without_torrents|length }} found!</p>#}
{##}
{#    <h2>Played Games</h2>#}
{#    {% for title in played_games %}#}
{#        <p>{{ title.status_at }} {{ title.text }}</p>#}
{#    {% endfor %}#}
{% endblock %}
